# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "master" ]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: Build with Gradle A
      uses: gradle/gradle-build-action@v2.2.5
      with:
        arguments: :app:aaa:build

    - name: Build with Gradle B
      uses: gradle/gradle-build-action@v2.2.5
      with:
        arguments: :app:bbb:build

    - name: Build with Gradle C
      uses: gradle/gradle-build-action@v2.2.5
      with:
        arguments: :app:ccc:build

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v3.3.3
      if: always() # always run even if the previous step fails
      with:
        report_paths: '**/build/test-results/test/TEST-*.xml'

    - name: Test Summary
      uses: test-summary/action@v1
      if: always()
      with:
        paths: '**/build/test-results/test/TEST-*.xml'

    - name: Add coverage comment A
      id: jacoco-A
      uses: madrapps/jacoco-report@v1.2
      with:
        paths: ${{ github.workspace }}/app/aaa/build/reports/jacoco/test/jacocoTestReport.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        min-coverage-overall: 40
        min-coverage-changed-files: 60

    - name: Add coverage comment C
      id: jacoco-C
      uses: madrapps/jacoco-report@v1.2
      with:
        paths: ${{ github.workspace }}/app/ccc/build/reports/jacoco/test/jacocoTestReport.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        min-coverage-overall: 40
        min-coverage-changed-files: 60

    - name: Publish SpotBugs report
      uses: jwgmeligmeyling/spotbugs-github-action@v1.2
      if: always()
      with:
        name: SpotBugs Report
        path: '**/build/reports/spotbugs/main.xml'
        
    - name: Upload reports
      uses: actions/upload-artifact@v2
      with:
        name: reports
        path: build/reports/
